# Gradle files
.gradle/
build/
app/build/

# Local configuration
local.properties
*.keystore
app/*.keystore
app/release.keystore
gradle.properties

# Android Studio
.idea/
*.iml

# Log files
*.log

# APKs and AABs
*.apk
*.aab

# Release builds
app/release/
app/build/outputs/

# Keystore backups
*.keystore.bak
*.jks
